<aside>
  <h2>Aside Space</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit
    neque praesentium officiis tempora fuga esse iste voluptas deleniti, atque,
    omnis quos! Commodi iste totam illum, dolores delectus perspiciatis
    expedita.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, sunt itaque
    maiores veniam labore tempore! Commodi soluta beatae numquam culpa, magni
    cum accusamus quod neque minus quas iusto quam voluptates?
  </p>
</aside>
